<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="verti">Vertical</ion-button>
  <ion-button class="hori">Horizontal</ion-button>
  <ion-input [(ngModel)]="filtro" placeholder="Introduce los datos del filtro"></ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let user of users | async">
        <ion-col *ngIf="filtro=='' || user.first_name.includes(filtro)" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card >
            <ion-card-content>
              <ion-avatar>
                <img [src]="user.avatar">
              </ion-avatar>
              <h1>{{ user.first_name }} {{ user.last_name }}</h1>
              <h2>{{ user.gender}}</h2>
              <h3>{{ user.phone}}</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus commodo elit, 
              et luctus sapien mattis a. Pellentesque vel vehicula nibh, vel cursus nulla.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>  
    </ion-row>
  </ion-grid>
</ion-content>